

$default-font: "Source Sans Pro", sans-serif;

$base-serif-font:$default-font;
$base-sans-font:$default-font;
$heading-font-family:$default-font;

$heading-font-weight: 300;
$base-font-weight: 300;

$max-width: (
	xs: 480px,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1640px
);



$base-font-color:darken(map-get($blue, dark), 10%);
$heading-font-color: darken(map-get($blue, dark), 10%);
$base-font-size: 1rem;
$base-padding: 1em;

$link-colors: map-get($blue, links);
$link-color: $link-colors;
$base-border-radius: 8px;
$base-text-shadow: 0 1px 4px rgba(26, 36, 50, 0.3);;

$base-animation: cubic-bezier(0.4, 0.01, 0.165, 0.99);

$max-wrap:1080px;


$base-border: 1px solid $base-border-color;

$base-line-height: 1.6;

$base-border-radius: 8px;
$gr:1.610833;

$grid:1;
$spacing-unit: (1em * $grid);
$small-spacing: ($spacing-unit / 2);
//
// Media Queries & Breakpoints
// 

// Extra small screen / phone
$screen-xs:                  map-get($max-width, xs) !default;

// Small screen / tablet
$screen-sm:                  map-get($max-width, sm) !default;

// Medium screen / desktop
$screen-md:                  map-get($max-width, md) !default;

// Large screen / wide desktop
$screen-lg:                  map-get($max-width, lg) !default;

// Monster Screen
$screen-xl:                  map-get($max-width, xl) !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-xs - 1) !default;
$screen-sm-max:              ($screen-sm - 1) !default;
$screen-md-max:              ($screen-md - 1) !default;
$screen-lg-max:              ($screen-lg - 1) !default;

$max-xs:  new-breakpoint(max-width $screen-xs-max 12);
$max-sm: new-breakpoint(max-width $screen-sm-max 12);
$max-md:  new-breakpoint(max-width $screen-md-max  6);
$max-lg:  new-breakpoint(max-width $screen-lg-max  6);