// // $months: (feb: $base-color, march: $base-color, april: $base-color, may: $base-color, june: $base-color, july: $base-color, october: $base-color);
// $months: (feb: $base-color, march: #F66D6B, april: #3CDBC0, may: #7b8994, june: #7b8994, july: #7b8994, october: #F66D6B);
// @each $name, $value in $months {
//     .#{$name} {
//         .lead-paragraph, h1, b {
//             // @include gradient-text($value, darken($value, 40%));
//             color: $value;
//         }

//         .button {
//             background-color: $value;
//             color: white;

//             &.grad {
//                 background-color: none;
//                 background-image: linear-gradient($value, darken($value, 4%));
//             }
//         }

//         a {
//             color: $value;
//             text-decoration: none;
//             border-bottom: 1px solid transparent;
//             transition: border 0.2s $base-animation;

//             &:hover {
//                 border-bottom: 1px solid;
//             }
//         }

//         .bigfoot-footnote__button {
//             background-color: rgba($value, $button-standard-opacity);
//         }

//         .site-header {
//             background-image: linear-gradient($value, darken($value, 4%));
//         }
//     }
// }

.lead-paragraph, h1, b {
    // @include gradient-text($base-color, darken($base-color, 40%));
    color: $base-color;
}

.button {
    background-color: $base-color;
    color: white;

    &.grad {
        background-color: none;
        background-image: linear-gradient($base-color, darken($base-color, 4%));
    }
}

a {
    color: lighten($base-color, 5%);
    text-decoration-color: transparent;

    // text-decoration: none;
    // border-bottom: 1px solid transparent;
    transition: text-decoration-color 0.2s $base-animation;

    &:hover {
        text-decoration-color: lighten($base-color, 5%);
        transition: text-decoration-color 0.2s $base-animation;
    }

    @include media($max-sm) {
        text-decoration: underline;
    }
}

header {
    a {
        text-decoration: none !important;
    }
}

.bigfoot-footnote__button {
    background-color: rgba($base-color, $button-standard-opacity);
}

.site-header {
    background-image: linear-gradient($base-color, darken($base-color, 4%));
}