// // $months: (feb: #315345, march: #315345, april: #315345, may: #315345, june: #315345, july: #315345, october: #315345);
// $months: (feb: #315345, march: #F66D6B, april: #3CDBC0, may: #7b8994, june: #7b8994, july: #7b8994, october: #F66D6B);
// @each $name, $value in $months {
//     .#{$name} {
//         .lead-paragraph, h1, b {
//             // @include gradient-text($value, darken($value, 40%));
//             color: $value;
//         }

//         .button {
//             background-color: $value;
//             color: white;

//             &.grad {
//                 background-color: none;
//                 background-image: linear-gradient($value, darken($value, 4%));
//             }
//         }

//         a {
//             color: $value;
//             text-decoration: none;
//             border-bottom: 1px solid transparent;
//             transition: border 0.2s $base-animation;

//             &:hover {
//                 border-bottom: 1px solid;
//             }
//         }

//         .bigfoot-footnote__button {
//             background-color: rgba($value, $button-standard-opacity);
//         }

//         .site-header {
//             background-image: linear-gradient($value, darken($value, 4%));
//         }
//     }
// }


.lead-paragraph, h1, b {
            // @include gradient-text(#315345, darken(#315345, 40%));
            color: #315345;
        }

        .button {
            background-color: #315345;
            color: white;

            &.grad {
                background-color: none;
                background-image: linear-gradient(#315345, darken(#315345, 4%));
            }
        }

        a {
            color: #315345;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: border 0.2s $base-animation;

            &:hover {
                border-bottom: 1px solid;
            }
        }

        .bigfoot-footnote__button {
            background-color: rgba(#315345, $button-standard-opacity);
        }

        .site-header {
            background-image: linear-gradient(#315345, darken(#315345, 4%));
        }