{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">

	{% block header %}
		{# <a class="hdr-logo-link" href="/" rel="home">{{site.name}}</a> #}
		{% include 'components/header.twig' %}
	{% endblock %}

<main role="main" class="content-wrapper">
	{% if title %}<h1>{{title}}</h1>{% endif %}
		{% block content %}
			Sorry, no content
		{% endblock %}

</main>
{% block footer %}

		{% include 'footer.twig' %}

	{{ function('wp_footer') }}
{% endblock %}
</body>
</html>