body {
    background-color: #F3F3F3;
}

img {
    max-width: 100%;
    height: auto;
}

.site-header {
    h2 {
        margin-bottom: 0;

        // color: map-get($blue, links);
   
    }

    .outer {
        padding-top: 2em !important;
        padding-bottom: 0em !important;
    }
}

main.content-wrapper, .block--header-wrap {
    @include media(new-breakpoint(max-width 1180px 6)) {
        padding-left: 2.3em;

        // position: relative;
        // width: calc(100vw - 2.3em);
    }


    @include media($max-sm) {
        padding-left: 0;
    }
}